<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test ton niveau level1</title>
    <link rel="stylesheet" href="/form1.css">
    <link rel="stylesheet" href="/form2.css">
    <script type="module" src="/form1.js"></script>
    <script type="module" src="/form2.js"></script>
</head>
<body>
    <header>
        <h1>Bienvenue sur Test de niveau en un clic</h1>
    </header>
    <% if(locals.compteur < 2){ %>
        <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Partie terminer avec <%= locals.compteur %> point
            Vous ne pouvez pas passer a Level2</p>
        </div>
    </div>
    <% } %>
     <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Un total de points supérieur ou égale a 2 vous permet d'aller au Level2.
                sinon vous avez perdu.
            </p>
        </div>
    </div>
    <h2 class="divider1">Level1</h2>
    <% if(locals.compteur){ %>
        <a href="#resultat">Voir les résultats</a>
        <div class="shield">
            <div class="score"><%= locals.compteur %></div>
            <div class="label">Votre Score</div>
        </div>
        <div class="level-stars">
            <div class="star empthy"></div>
            <div class="star empthy"></div>
            <div class="star empthy"></div>
        </div>
    <% } %>
    <main>
        <div class="form-container">
            <form method="post">
                <% if(locals.scilab){ %>
                    <div class="form-group">
                    <label for="option1">qu'est ce que scilab?</label>
                    <select id="option1" name="option1">
                        <option value="Logiciel de calcule formel">Logiciel de calcule formel</option>
                        <option value="logiciel de calcule numérique">logiciel de calcule numérique</option>
                        <option value="Calculatrice arithmétique">Calculatrice arithmétique</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option2"> Quelle est la commande pour tracer une courbe en Scilab?</label>
                    <select id="option2" name="option2">
                        <option value="suplot">subplot</option>
                        <option value="linespace">linespace</option>
                        <option value="plot">plot</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option3">Scilab est un logiciel de:</label>
                    <select id="option3" name="option3">
                        <option value="modelisation">modelisation</option>
                        <option value="montage vidéo">montage vidéo</option>
                        <option value="imagerie">imagerie</option>
                    </select>
                </div>
                <%  } %>
                <% if(locals.latex){ %>
                    <div class="form-group">
                    <label for="option1">qu'est ce que latex?</label>
                    <select id="option1" name="option1">
                        <option value="Logiciel de calcule formel">Logiciel de calcule formel</option>
                        <option value="système de préparation de documents">système de préparation de documents</option>
                        <option value="Pas de réponse">Pas de réponse</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option2"> Quelle est l'utilisation de latex </label>
                    <select id="option2" name="option2">
                        <option value="créer des images">créer des images</option>
                        <option value="Pas de réponse">Pas de réponse</option>
                        <option value="création de documents scientifiques et techniques">création de documents scientifiques et techniques</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option3">Comment créer une section dans un document LaTeX ?</label>
                    <select id="option3" name="option3">
                        <option value="\begin{figure}">\begin{figure}</option>
                        <option value="\section{Titre de la section}">\section{Titre de la section}</option>
                        <option value="section{Titre de la section}">section{Titre de la section}</option>
                    </select>
                </div>
                <%  } %>
                <% if(locals.python){ %>
                    <div class="form-group">
                    <label for="option1">qu'est ce que python?</label>
                    <select id="option1" name="option1">
                        <option value="langage de programmation compilé">langage de programmation compilé</option>
                        <option value="langage de programmation interprété">langage de programmation interprété</option>
                        <option value="Calculatrice arithmétique">Calculatrice arithmétique</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option2">quelles sont ses principales utilisations</label>
                    <select id="option2" name="option2">
                        <option value="développement web">développement web</option>
                        <option value="programmation orientée Objet">programmation orientée</option>
                        <option value="POO">POOO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option3">Comment définir une fonction en Python ?</label>
                    <select id="option3" name="option3">
                        <option value="def nom_fonction(parametre):">def nom_fonction(parametre):</option>
                        <option value="def nom_fonction(parametre):return value">def nom_fonction(parametre):return value</option>
                        <option value="pas de réponse">pas de réponse</option>
                    </select>
                </div>
                <%  } %>
                <% if(locals.c){ %>
                    <div class="form-group">
                    <label for="option1">qu'est ce que c++?</label>
                    <select id="option1" name="option1">
                        <option value="langage de programmation orienté objet">langage de programmation orienté objet</option>
                        <option value="langage C">langage C</option>
                        <option value="langage de programmation orienté objet, dérivé du langage C">langage de programmation orienté objet, dérivé du langage C</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option2">quelles sont ses principales caractéristiques</label>
                    <select id="option2" name="option2">
                        <option value="Pas de réponse">Pas de réponse</option>
                        <option value="Gestion de la mémoire">Gestion de la mémoire</option>
                        <option value="Logiciel de calcule">Logiciel de calcule</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="option3">Comment créer une classe en C++ ?</label>
                    <select id="option3" name="option3">
                        <option value="class ClassName {}">class ClassName{}</option>
                        <option value="class ClassName {};">class ClassName {};</option>
                        <option value="class ClassName();">class ClassName();</option>
                    </select>
                </div>
                <%  } %>
                <button type="submit">Soumettre</button>
            </form>
        </div>
    </main>
    <% if(locals.compteur){ %>
        <h3 class="compteur" id="resultat">Voici vos résultats</h3>
        <div class="list-container">
            <h2>Mes réponses</h2>
                <ul>
                    <li><%= locals.listOption1[0] %></li>
                    <li><%= locals.listOption1[1] %></li>
                    <li><%= locals.listOption1[2] %></li>
                </ul>
        </div>
        <div class="list-container">
            <h2>Les résultats</h2>
                <ul>
                    <li><%= locals.extracteEle1[0].reponse %></li>
                    <li><%= locals.extracteEle1[1].reponse %></li>
                    <li><%= locals.extracteEle1[2].reponse %></li>
                </ul>
        </div>
    </div>
    <% } %>
    <a href="/">Retour</a>
    <footer>
        <p><h3>Test de niveau en un clic</h3></p>
    </footer>
</body>
</html>

